body{
    margin:0px !important;
    padding:0px !important;
    background-color: rgb(134, 133, 131) !important;
}
.heading{
    font-size: 28px !important;
    font-weight: 700 !important;
    color: rgb(161, 158, 158) !important;
    text-align: center !important;
    margin: 30px !important;
}
.mainContainer{
    box-sizing: border-box;
padding: 10px !important;
background-image: url('cal.png') !important;
background-size: cover !important;
border-radius: 10px !important;
}
.calculatorTheme{
    opacity: 0.9 !important;
    background-color: rgb(240, 240, 240) !important;
    padding:20px 10px 4px 2px !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
    
}
.output{
    padding:0px 10px 0px 10px !important;
background-color: transparent !important;
height: 150px;
}
.preceding{
    height: 55px !important;
    overflow-x: scroll;
    text-align: right !important;
    width: 100% !important;
    font-size: 22px !important;
    background-color: transparent !important;
    color: rgb(116, 116, 117) !important;
    padding: 0px 8px 0px 8px !important;
    box-sizing: border-box !important;
}
.inpOut{
    overflow-x: scroll;
    height: 60px;
    text-align: right !important;
    font-weight: 700 !important;
    font-size: 28px !important;
background-color: transparent !important;
margin-bottom: 20px !important;
    padding: 0px 8px 0px 8px !important;
    box-sizing: border-box;
}
.buttonMain{
    display: flex !important;
    padding: 0px 7px 0px 7px !important;
}
.btn{
    width: 100% !important;
height: 45px !important;
border: none !important;
margin: 2px 2px !important;
background-color: white !important;
outline: none !important;
font-weight: 700 !important;
font-size: 20px !important;
display: flex !important;
align-items: center !important;
justify-content: center !important;
}
.btn:hover{
background-color: rgb(214, 217, 218) !important;
transition: 0.1s !important;
}
.sym{
    background-color: rgb(245, 244, 244) t;
    color: rgb(85, 85, 87) !important;
    font-weight: 500 !important;
}
.sym:hover{
    background-color: rgb(214, 217, 218) !important;
    transition: 0.1s !important;
    }
    .equal{
        background-color: rgb(159, 206, 238) !important;
        color: rgb(85, 85, 87) !important;
        font-size: 170% !important;
        font-weight: 500 !important;
    }
    .equal:hover{
        background-color: rgb(101, 191, 251) !important;
        transition: 0.1s !important;
    }
    .del{
        border: 1px solid black !important;
        width: 20px !important;
        height: 25px !important;
        border-radius: 30% !important;
     display: flex !important;
     justify-content: center !important;
     align-items: center !important;   
    }
    #resultHead{
        font-size: 20px !important;
        font-weight: 700;
        text-align: left !important;
    }
    .ref{
        font-size: 25px;
        font-weight: 700;
        color: rgb(167, 166, 166);
        text-align: center;
        margin: 25px;
    }
    